BOT_TOKEN=8678413684:AAHnoyOgk5AhKwF4kYbcu_11d5M5rpLgpw0
ADMIN_ID=7861165622
BOT_USERNAME=smm_uzb_robot

SMM_API_URL=https://smmapi.safobuilder.uz/shox_smmbot/api/v2
SMM_API_KEY=236f1919d45a861fcf690b450d1b378b

DB_PATH=smm_bot.db
PORT=10000
